.container
{
  background: url("../images/templates/jewelrystore/rc-shadow-bg.png")!important;
}
.navbar-inverse {
    background-color: #000;
    border: 0 none;
    box-shadow: 0 0 4px #ccc;
}
.navbar-inverse .nav > li:first
{ 
 border-left: 1px solid #4D4D4D;
}
.navbar-inverse .nav > li
{ 
 border-right: 0px solid #fff;
  padding-left: 0px;
}
{border-left: 0px solid #fff;}
.nav > li
{
 border-top: 0px solid #FFFFFF!important;
 margin:5px;
}
.navbar-inverse .navbar-nav > li > a
{
 color:#ccc;
 text-transform:uppercase;
 font-weight:bold;
 font-size: 15px;
 padding:9px;
}
.navbar-right
{display:none;}
.menu-item-hover {
   opacity:0.8;
   color:white!important;
}
.navbar-header:hover
{
 opacity:0.8;
}
.navbar-inverse .navbar-toggle .icon-bar {
background-color: black;
}
.icon-home {
    background: url("../images/templates/jewelrystore/icon-home.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 31px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    width: 30px;
}
#es_topLinksContainer 
{
    background-color: #daffff;
  background: -moz-linear-gradient(top, #daffff  0%, #c2fefd 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daffff ), color-stop(100%,#c2fefd))!important;
  background: -webkit-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: -o-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: -ms-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: linear-gradient(to bottom,#daffff  0%,#c2fefd 100%)!important;
}
.vTitle
{
  background-color: #daffff;
  background: -moz-linear-gradient(top, #daffff  0%, #c2fefd 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daffff ), color-stop(100%,#c2fefd))!important;
  background: -webkit-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: -o-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: -ms-linear-gradient(top, #daffff  0%,#c2fefd 100%)!important;
  background: linear-gradient(to bottom,#daffff  0%,#c2fefd 100%)!important;
  font-size: 14px;
}
.text-center a.powered_link1 
{
 color:white;
}
.footer-custom-background .container
{
  background-color: #daffff;
  background: -moz-linear-gradient(top, #ccc  0%, #c2fefd 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc ), color-stop(100%,#c2fefd))!important;
  background: -webkit-linear-gradient(top, #ccc  0%,#c2fefd 100%)!important;
  background: -o-linear-gradient(top, #ccc  0%,#c2fefd 100%)!important;
  background: -ms-linear-gradient(top, #ccc  0%,#c2fefd 100%)!important;
  background: linear-gradient(to bottom,#ccc  0%,#c2fefd 100%)!important;
}
.footer-custom-background #es_formLinks a {
    background: none repeat scroll 0 0 black;    
    border-radius: 5px;
    color: white;
    text-decoration: none !important;
} 
.footer-custom-background #es_formLinks a:hover
{
 border: 1px solid #000;
 border-bottom:3px;
}
.ebay-basic-buttons 
{
    margin-top: 11px;
}
.rc-name
{
  background-color: #eee;
  background: -moz-linear-gradient(top, #ccc  0%, #eee 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc ), color-stop(100%,#eee))!important;
  background: -webkit-linear-gradient(top, #ccc  0%,#eee 100%)!important;
  background: -o-linear-gradient(top, #ccc  0%,#eee 100%)!important;
  background: -ms-linear-gradient(top, #ccc  0%,#eee 100%)!important;
  background: linear-gradient(to bottom,#ccc  0%,#eee 100%)!important;
}
.rc-name span
{
 font-size: 14px;
    font-weight: bold;
}
.widget .rc-box:hover
{
 opacity:0.9!important;
}
.top-welcome-text
{
  color:black;
}
.product-info .tabs span 
{
  background-color: #ccc;
  background: -moz-linear-gradient(top, #ddd  0%, #ccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd ), color-stop(100%,#ccc));
  background: -webkit-linear-gradient(top, #ddd  0%,#ccc 100%);
  background: -o-linear-gradient(top, #ddd  0%,#ccc 100%);
  background: -ms-linear-gradient(top, #ddd  0%,#ccc 100%);
  background: linear-gradient(to bottom,#ddd  0%,#ccc 100%);  
}

.table {
    display: table;
    width: 100%
}
.tr { 
    display: table-row; 
}
.td { 
    display: table-cell;
}
.icon-listing
{width:60%}
.icons-for-plan
{
   font-size: 12px;
    margin: 0 auto;
    text-align: center;
}

ul.mobilefeatures {
    margin: 0;
    padding: 0;
    width: 100%;
}
ul.systemfeatures li
{
 background-image: url("http://hosting.rockscripts.org/111/assets/images/templates/rockscripts/system-icons.png")!important; 
}
ul.mobilefeatures li {
    background-color: #444444;
    background-image: url("http://hosting.rockscripts.org/111/assets/images/templates/rockscripts/features-icons.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 1px solid #111111;
    border-radius: 4px;
    color: #F7F7F7;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 4px;
    margin-left: 15px;
    padding: 8px 8px 8px 63px;
    text-shadow: 0 1px 0 #000000;
    width: 47%;
}
.flexslider,.flexslider iframe
{
min-height: 347px;
}
.tab-title-description
{
  border-bottom: 1px solid #CCCCCC;
    height: 28px;
    margin-bottom: 10px;
    margin-top: 33px;
    padding-bottom: 10px;
}
.tab-title-description a
{
   background: none repeat scroll 0 0 #DA0707;
    color: #DDDDDD;
    font-size: 17px;
    font-weight: bold;
    padding: 7px;
}
.browser-compability
{
 margin: 24px auto;
    text-align: center; 
}
.download-button-screenshots 
{
  background: rgb(237,237,237);
  background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc));
  background: -webkit-linear-gradient(top, #eee 0%,#ccc 100%);
  background: -o-linear-gradient(top, #eee 0%,#ccc 100%);
  background: -ms-linear-gradient(top, #eee 0%,#ccc 100%);
  background: linear-gradient(to bottom,#eee 0%,#ccc 100%);
   border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    width: 100%;
  margin-bottom: 8px;
}
.download-button-screenshots  a:hover
{
 opacity:0.8;
}
.download-button-screenshots  a
{ 
  font-size:16px; 
  color:black;
  font-weight:bold;
  text-decoration:none!important;
  text-shadow: 1px 1px white;
}
.promotion-plan-title
{
  color: #000000;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.promotion-plan-title:hover
{
 opacity:0.8;
}
.promotion-plan-info a
{
text-decoration:none!important;
}
.layout-type-1 .New-arrivals div.shop-now-button-small
{
 background-image: url("../images/templates/rockscripts/Download.gif") !important;
}
.vTitle
{
 font-size: 17px;
}
.promotion-plan-title
{
 color: #000000;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
  text-shadow: 1px 1px #999;
}
.promotion-plan-title
{margin-bottom:6px;}

.vTitle
{
 font-size: 17px;
}
.promotion-plan-title
{margin-bottom:6px;}
.promotion-plan-image
{

}
.layout-type-1 .New-arrivals .promotion-plan-image
{
 height: 242px!important;
}
.product-info .tabs span 
{
  background: linear-gradient(#ca1111, #da3232) repeat scroll 0 0 rgba(0, 0, 0, 0);
   background: #08ACD9;
background: -moz-linear-gradient(top, #ca1111 0%, #0ab0e2 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca1111), color-stop(100%,#da3232))!important;
background: -webkit-linear-gradient(top, #ca1111 0%, #da3232 100%)!important;
background: -o-linear-gradient(top, #ca1111 0%,#da3232 100%)!important;
background: -ms-linear-gradient(top, #ca1111 0%,#da3232 100%)!important;
background: linear-gradient(to bottom,#ca1111 0%,#da3232 100%)!important;
}
.download-button-screenshots
{
  background:#87b843;
}
.icon-listing
{
 max-width:101px!important;
}
.choose-text {
  font-size: 18px;
}