.pagewidth { width: 100%; text-align: center; }
.pagelayout { width: 1020px !important; margin: 0px auto !important; text-align: left; }

.stBadge,
#sModule,
.coreFooterLinks,
#gnheader,
.gh-w,
.whiter-mid,
.gh-clr,
table.tb_v4bc { background-color: #ffffff; }
.whiter-rcp { margin-left: 0px; margin-right: 0px; }
.gh-w,
table.tb_v4bc { padding: 0px !important; margin: 0px 10px !important; }
table.tb_v4bc { width: 1000px !important; }
.v4bc { padding: 10px 0px 10px 10px !important; margin: 0px !important; }
.v4sem { padding: 10px 10px 10px 0px !important; margin: 0px !important; }
#gh-l { padding-left: 10px; }

#gnheader,
.gh-w { padding-bottom: 0px; margin-bottom: 10px; }
.gh-log { padding-left: 10px; }
.gh-emn { padding-right: 10px !important; }
#sModule { display: none; }
.coreFooterLinks,
#glbfooter { padding-left: 10px; padding-right: 10px; }

.zd-content { background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/bg-sombra-middle.png); background-repeat: repeat-y; background-position: left top; font-family: Verdana, Arial, Helvetica, sans-serif; color: #333333; font-size: 11px; width: 1020px; }

div.CustomeNavBar div.mbg a { display: inline; padding-left: 0px; padding-right: 0px; }
div.CustomeNavBar div.mbg a:hover { background-image: none; }
/*div.CustomeNavBar div.mbg span.mbg-l { display: none; }*/

#LeftPanel { padding: 0px 0px 5px 15px; width: 170px !important; }
#CentralArea { padding: 0px 15px 5px 0px; }

body {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/bg.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-color:#0389B7;
	background-attachment: fixed;
	margin:0px;
	padding:0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
}
#LeftPanel a {
	color:#FF930C;
	text-decoration:none;
}
img {
	border:none;
}
a:hover {
	text-decoration:underline;
}
.mt_main_holder {
	width:1020px;
	margin:auto;
}
/*HEADER START*/
.mt_hat {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/hat.png);
	background-repeat: no-repeat;
	background-position: right top;
	width:1020px;
	height:10px;
	margin-top:5px;
}
.mt_header {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/bg-sombra-middle.png);
	background-repeat: repeat-y;
	background-position: left top;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;
}
.mt_header .mt_header_bar {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/header_top_bottom.png);
	background-repeat: repeat-x;
	background-position: left center;
	height:20px;
	line-height:20px;
	text-align:center;
	font-size:11px;
}
.mt_header .mt_logo {
	margin-top:5px;
	overflow:hidden;
}
.mt_header .header_icons {
	background-color:#CCCCCC;
	overflow:hidden;
	padding:10px;
	padding-bottom:5px;
	font-size:11px;
	padding-left:60px;
	margin-top:5px;
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/bg-sub-header.png);
	background-repeat: repeat-x;
}
.mt_header .header_icons ul {
	padding:0px;
	margin:0px;
}
.mt_header .header_icons li {
	display:inline;
	width:200px;
	list-style:none;
	margin-left:20px;
}
.mt_header .CustomeNavBar {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/main_nav_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	height:32px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #E2E2E2;
	border-left-color: #E2E2E2;
}
.mt_header .CustomeNavBar ul {
	padding:0px;
	margin:0px;
}
.mt_header .CustomeNavBar li {
	list-style:none;
	float:left;
	margin-top:2px;
	font-size:11px;
	font-weight:bold;
	line-height:15px;
}
.mt_header .CustomeNavBar li.line_border {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #D4D4D4;
}
.mt_header .CustomeNavBar li a {
	display:block;
	padding-top:7px;
	padding-bottom:7px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	color:#555555;
}
.mt_header .CustomeNavBar li a:hover {
	color:#000000;
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/main_nav-hover_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;	
}
.mt_header .mt_promo {
	float:left;
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/promo.png);
	background-repeat: no-repeat;
	background-position: center center;
	line-height:27px;
	width:153px;
	padding-left:18px;
	text-align:center;
}
.mt_header .subheader {
	margin-top:15px;
	overflow:hidden;
}
.mt_header .subheader .mt_promo a {
	display:block;
	text-transform:uppercase;
	color:#333333;
	font-size:11px;
	font-weight:bold;
}
.mt_header .subheader .mt_search {
	float:right;
}
.mt_header .subheader .mt_search .mt_search_form {
	padding:0px;
	margin:0px;
}
.mt_header .subheader .mt_search .mt_text_input {
	height:18px;
	width:200px;
	border: 1px solid #CCCCCC;
	font-size:12px;
	letter-spacing:1px;
}
.mt_header .mt_line {
	margin-top:10px;
}
/*HEADER END*/

/*CONTENT START */
.mt_content {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/bg-sombra-middle.png);
	background-repeat: repeat-y;
	background-position: center top;
	padding-left:15px;
	padding-right:15px;
	overflow:hidden;
	padding-top:15px;
	padding-bottom:5px;
}
#CentralArea .mt_home_banners {
	height:230px;
	width:230px;
	padding:10px;
}
#CentralArea .mt_home_banners ul {
	padding:0px;
	margin:0px;
}
#CentralArea .mt_home_banners li {
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:5px;
	list-style:none;
	text-align:left;
}
#CentralArea .mt_home_banners a {
	color:#555555;
	font-size:11px;
	font-weight:bold;
	display:block;
}
#CentralArea .mt_blue1 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/blue-banner1.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_blue2 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/blue-banner2.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_blue3 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/blue-banner3.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_green1 li {
	background-image: url(arrow-green.png);
	background-repeat: no-repeat;
	background-position: right center;

}
#CentralArea .mt_green1 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/green-banner1.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_green2 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/green-banner2.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_green3 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/green-banner3.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_orange1 li {
	background-image: url(arrow-green.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_orange1 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/orange-banner1.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_orange2 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/orange-banner2.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_orange3 {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/orange-banner3.1.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#CentralArea .mt_blue1 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-blue.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_blue2 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-blue.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_blue3 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-blue.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_green1 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-green.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_green2 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-green.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_green3 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-green.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_orange1 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-orange.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_orange2 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-orange.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#CentralArea .mt_orange3 li {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/arrow-orange.png);
	background-repeat: no-repeat;
	background-position: right center;
}
/* CONTENT END */


/*CUSTOM CATEGORIES START*/
#LeftPanel .mt_categories {
	font-weight:bold;
	/*letter-spacing:-1px;*/
	background-color:#F2F0F1;
	font-size:11px;
}
#LeftPanel .mt_categories .mt_block {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/productmenu-h1-bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:170px;
	height:30px;
}
#LeftPanel .mt_categories .mt_menu {
	padding:0px;
	margin:0px;
	overflow:hidden;
}
#LeftPanel .mt_categories .mt_menu ul {
	padding:0px;
	margin:0px;
}
#LeftPanel .mt_categories .mt_menu li {
	list-style:none;
	float:left;
	padding-left:5px;
	width:165px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
}
#LeftPanel .mt_categories .mt_menu li a {
	display:block;
	padding-top:2px;
	padding-bottom:2px;
}
#LeftPanel .mt_categories .mt_menu li a:hover {
	text-decoration:none;
}
#LeftPanel .mt_categories .mt_menu li:hover {
	background-color:#FFFFFF;
}
#LeftPanel .mt_categories .mt_menu .mt_menu_inner a {
	padding-left:10px;
	font-weight:normal;
	color:#666666
}
#LeftPanel .mt_categories .mt_menu .mt_hot {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/star_full.png);
	background-repeat: no-repeat;
	background-position: 140px 0px;
}
/*CUSTOM CATEGORIES END*/

/*FOOTER START*/
.mt_footer {
	background-image: url(http://www.planeteoueb.com/_st5/msbbyccm/masterselect/footer.png);
	background-repeat: no-repeat;
	background-position: center top;
	width:1020px;
	height:10px;
	margin-bottom:15px;
}
/*FOOTER END*/