/*add your store front styles here*/
#TopPromoArea
{
 display:none;
}
#LeftPanel
{
 display:none;
}
.listing-box ,.listing-box2
{
    max-height: 250px;
    min-height: 250px;
}
.powered_link1
{
 color: #000000 !important;
    display: block;
    margin: 7px auto;
    padding-top: 16px;
    position: relative;
    text-align: center;
  text-decoration:none!important;
}
#CentralArea
{display:none;}
.listing-box .label
{
 color:black;
}
.shopping-icon-link
{display:block;width:100%;height:100%;}
#es_topLinksContainer
{
background: #f5f6f8;
}
.navbar-inverse 
{
background: rgb(237,237,237);
background: -moz-linear-gradient(top, #eee 0%, #ccc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#ccc));
background: -webkit-linear-gradient(top, #eee 0%,#ccc 100%);
background: -o-linear-gradient(top, #eee 0%,#ccc 100%);
background: -ms-linear-gradient(top, #eee 0%,#ccc 100%);
background: linear-gradient(to bottom,#eee 0%,#ccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}
.navbar-nav li a
{
 color:#444;
  font-weight:bold;
}
.navbar-nav li a:hover
{
 color:white!important;
  background:#6fc4e7!important;
  font
}
.listing-box,.listing-box2
{
background: rgb(237,237,237);
background: -moz-linear-gradient(top, #fff 0%, #ddd 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#ddd))!important;
background: -webkit-linear-gradient(top, #fff 0%,#ddd 100%)!important;
background: -o-linear-gradient(top, #fff 0%,#ddd 100%)!important;
background: -ms-linear-gradient(top, #fff 0%,#ddd 100%)!important;
background: linear-gradient(to bottom,#fff 0%,#ddd 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 )!important;
}
.vTitle 
{
background: rgb(237,237,237);
background: -moz-linear-gradient(top, #75c8ea 0%, #0096c4 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#75c8ea), color-stop(100%,#0096c4))!important;
background: -webkit-linear-gradient(top, #75c8ea 0%,#d0096c4dd 100%)!important;
background: -o-linear-gradient(top, #75c8ea 0%,#0096c4 100%)!important;
background: -ms-linear-gradient(top, #75c8ea 0%,#0096c4 100%)!important;
background: linear-gradient(to bottom,#75c8ea 0%,#0096c4 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 )!important; 
  color:white;
}
.label
{color:black;}
.details-inner span.bin 
{
background: none repeat scroll 0 0 #6fc4e7; 
  color:#004d83;
}
.promotion-plan 
{
    margin-bottom: 10px
}

.row-paginator a.enabled
{
  color:#666!important;
}
.row-paginator a:hover
{
  color:blue!important;
  text-decoration:none;
}
.row-paginator .disable
{
  color:black!important;
}
.layout-type-2 .widget .rc-box 
{
    width: 46%;
}
ul.navbar-nav  ul.navbar-nav li a, ul.navbar-nav  ul.navbar-nav li
{
  height: auto;
    line-height: 16px;
    width: 100%;
}
ul.navbar-nav  ul.navbar-nav ul.navbar-nav
{
 margin-left:198px;
 margin-top: -33px;
}
ul.navbar-nav  ul.navbar-nav li a
{padding-left:20px;}
ul.navbar-nav  ul.navbar-nav li
{padding-left:0px;}
.ebay-basic-buttons
{
   margin-left: 67%;
   margin-top: 8%;
   position: absolute;
}
#es_topLinksContainer .social-media-buttons
{
 display:none!important;
}
.container
{margin-top: 0!important;}
#es_header {
    height: 95px;
}
.container {
    max-width: 1000px !important;
}
.ebay-basic-buttons div
{
 margin-left:5px;
}
.navbar-right
{
 display:none;
}
.img-responsive
{
 display:none;
}
#es_topLinks ul li a, #es_topLinks ul li.visible-lg
{
  color:black;
}
.input-group .submit_search 
{
 background: rgb(237,237,237);
background: -moz-linear-gradient(top, #4ec7f6 0%, #0ab0e2 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec7f6), color-stop(100%,#0ab0e2))!important;
background: -webkit-linear-gradient(top, #4ec7f6 0%,#0ab0e2 100%)!important;
background: -o-linear-gradient(top, #4ec7f6 0%,#0ab0e2 100%)!important;
background: -ms-linear-gradient(top, #4ec7f6 0%,#0ab0e2 100%)!important;
background: linear-gradient(to bottom,#4ec7f6 0%,#0ab0e2 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 )!important;
    border: 1px solid #888888;
    color: #FFFFFF;
    height: 29px;
  color:white;
   font-weight: bold;
  line-height: 3px;
}
.input-group input {
    border: 1px solid #888888;
    border-radius: 0 !important;
    height: 29px;
}
.header-search-box
{
    margin-left: 54.2%;
    margin-top: 2%;
    position: absolute;
    width: 448px;
}
.logo
{ top: -9%;}
.shopping-image
{
   background: url("../images/shopping.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 50px;
    margin-top: -9px;
    width: 190px;
}
.ebay-basic-buttons
{display:none;}
.background-main
{
 border-top: 4px solid #004275;
}
.header-search-box .navbar-form
{float:left;width: 57%;}
#es_topLinks ul li a {
    font-weight: bold;
    text-decoration: none !important;
}
#es_topLinks ul li a:hover
{
 opacity:0.6;
}



/*============= Extra For Footer ===================*/
.footer-container {
    background: linear-gradient(#1B1B1B, #7D7D7D) repeat scroll 0 0 rgba(0, 0, 0, 0);
   background: #08ACD9;
background: -moz-linear-gradient(top, #1B1B1B 0%, #7D7D7D 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1B1B1B), color-stop(100%,#7D7D7D))!important;
background: -webkit-linear-gradient(top, #1B1B1B 0%, #7D7D7D 100%)!important;
background: -o-linear-gradient(top, #1B1B1B 0%,#7D7D7D 100%)!important;
background: -ms-linear-gradient(top, #1B1B1B 0%,#7D7D7D 100%)!important;
background: linear-gradient(to bottom,#1B1B1B 0%,#7D7D7D 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B1B1B', endColorstr='#7D7D7D',GradientType=0 )!important;
}
.footer-container .container {
    padding-left: 2%;
    padding-top: 20px;
  border:0!important;
  background:none!important;
}
.col-sm-2 > ul{list-style:none;}

.col-xs-12.col-sm-12.col-md-12 > div {
    color: #FFFFFF;
    font-size: 12px;
}
.form-subscribe-header > h4 {
    color: #FFFFFF;
    font-size: 16px;
}
.input-box {
    display: inline-block;
}
#footer-scroller {
    background: url("http://www.bearingshopuk.eu/skin/frontend/mercado/default/images/top_scroller.png") no-repeat scroll 15px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 40px;
    margin: -27px 0 10px 44%;
    padding-top: 15px;
    width: 64px;
}
#footerlinks li a {
    color: #F0F0F0;
    font-size: 11px;
}
#footerlinks li:first-child {
    color: #2EAED6;
}
#footerEnder a {
    color: #F0F0F0;
}
#accordion a:hover {
    text-decoration: none;
}
#accordion.panel-group .panel {
    background: linear-gradient(#51CBF8, #08ACD9) repeat scroll 0 0 rgba(0, 0, 0, 0);
 
}
#accordion.panel-group .panel .panel-heading {
    padding: 5px 15px;
}
#accordion.panel-group .panel .panel-heading .panel-title a {
    color: #FFFFFF;
}
button.button {
    background: linear-gradient(#51CBF8, #08ACD9) repeat scroll 0 0 rgba(0, 0, 0, 0);
   background: #08ACD9;
background: -moz-linear-gradient(top, #4ec7f6 0%, #0ab0e2 100%)!important;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4ec7f6), color-stop(100%,#0ab0e2))!important;
background: -webkit-linear-gradient(top, #4ec7f6 0%, #0ab0e2 100%)!important;
background: -o-linear-gradient(top, #4ec7f6 0%,#0ab0e2 100%)!important;
background: -ms-linear-gradient(top, #4ec7f6 0%,#0ab0e2 100%)!important;
background: linear-gradient(to bottom,#4ec7f6 0%,#0ab0e2 100%)!important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 )!important;
    border: 1px solid #08ACD9;
    color: #FFFFFF;
    cursor: pointer;
    font: 11px Tahoma,Verdana,Arial,sans-serif;
    height: 27px;
    margin: 0;
    overflow: visible;
    padding: 0 17px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: auto;
}
.input-text {
    border: medium none;
    padding:6px 5px 5px 5px;
  	background:#fff;
  	color: #818181;
    font: 12px Arial,Helvetica,sans-serif;
    width: 181px;
}
#follow-us > p {
    color: #FFFFFF;
}
.col-md-8.col-md-offset-2 > div {
    color: #FFFFFF;
}
.last-navigation-list{padding-left:0;}
.navbar-inverse
{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom:2px solid #bbb;

}
.navbar-nav li
{
  border-left:1px solid #ccc;
  padding-left:0px!important;
}
.navbar-header
{background:#6fc4e7}
.pager li > a, .pager li > span
{padding:0px;}