@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url(http://fonts.googleapis.com/css?family=Lemon);


.container {
background: #fff !important;
}
#v4-21, #TopPromoArea, #v4-6
{
    display:none;
}
.img-responsive
{display:inline;}
.layout-type-2 .ctrlbr
{height: auto!important;}
.listing-box
{
  min-height: 281px;
}
.rockscripts-content
{display:none;}
.label
{color:black}

.img-responsive.header-background-image {
height: 100px;
background: #fff !important;
}

.img-responsive{
display:inline;
height:100px;
}

#es_topLinksContainer {
background-attachment: scroll;
background-clip: border-box;
background-color: #A33087;
}


.navbar-inverse {
background-color: #74C038;
border-color: #FFFFFF;
}

body {
        font-family: 'Open Sans', serif;
        font-size: 14px;
      }

.heading-title {
font-family: 'Lemon', serif;
font-size:28px; 
}

.navbar-inverse .navbar-nav > li > a {
color: #EBE8E8;
font-family: "lemon", serif;
}


.navbar-inverse .navbar-brand {
color: #FFF;
font-family: "lemon", serif;
font-size:11px;
}

#contact {
font-size: 12px;
padding: 10px 40px;
}

.nav > li {
border:0px !important;
}

.vTitle {
background: #000 !important/* !important*/;
border-left: 1px solid #ccc;
border-right: 1px solid #ccc;
border-top: 1px solid #ccc;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
color: #F7F2F2;
font-weight: bold;
height: 31px;
line-height: 34px;
padding-left: 5px;
text-shadow: none !important;
}

.container {
max-width: 960px!important;
}

h1,h2,h3,h4,h5,h6{
font-family: 'Lemon', sans-serif !important;
}
.vertical li ul li a {
    color: #444 !important;
    font-size: 14px;
    padding-left: 43px;
}
.vertical ul {
    border: 0 none;
    display: list-item;
    left: 0;
    margin-left: 0;
    position: relative;
    top: 4px;
    width: auto;
    z-index: 999;
}
.vertical .parent ul li {
    background: none repeat scroll 0 0 transparent !important;
}
.row-paginator
{
 text-align:left;
}