.container
{
 background: url("../images/templates/audiogear/rc-shadow-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}
.background-main
{
 background-repeat:no-repeat;
}
#es_topLinksContainer
{background:transparent!important;height: 5px;}

.header-search-box
{
 float: right;
 margin-top: 0px;
  width:198px;
}
span .logo 
{
  display: block !important;
  top: 20%;
}
.shopping-image
{
  background: url("../images/templates/audiogear/my-cart.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: right;
  height: 19px;
  width: 18px;
  margin-top: 13px;
  margin-right: 5px;
}

#es_header form.navbar-form
{
  margin-top: 0px;
}
.navbar-inverse 
{
 background: rgb(237,237,237);
  background: -moz-linear-gradient(top, #222    0%, #000 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#222   ), color-stop(100%,#000))!important;
  background: -webkit-linear-gradient(top, #222    0%,#000 100%)!important;
  background: -o-linear-gradient(top, #222    0%,#000 100%)!important;
  background: -ms-linear-gradient(top, #222    0%,#000 100%)!important;
  background: linear-gradient(to bottom,#222    0%,#000%)!important;
  border-bottom: 7px solid #CCCCCC;
  border-left: 3px solid #CCCCCC;
  border-right: 3px solid #CCCCCC;
  height: 50px;
}
.navbar-inverse .nav > li:first
{ 
 border-left: 1px solid #4D4D4D;
}
.navbar-inverse .nav > li
{ 
 border-right: 1px solid #424242;
  padding-left: 0px;
}
.nav > li
{
 border-top: 0px solid #FFFFFF!important;
 height: 41px;
}
.navbar-inverse .navbar-brand:hover
{
 color:white;
}
.navbar-inverse .navbar-brand
{
 color:white;
}
.navbar-header
{
 border-right: 1px solid #424242;
}
.navbar-inverse .navbar-nav > li > a
{
  color:#ccc;
}
.navbar-inverse .navbar-nav > li > a:hover
{
 color:black!important;
}
.navbar-nav .menu-item a, .navbar-inverse a
{
 text-transform:uppercase;
 font-weight:normal;
  font-size: 15px;
  height: 41px;
}
.layout-type-2 .Popular-categories .rc-box
{
  display: inline-block!important;
  float: none;
}
.Popular-categories-title
{display:none!important;}
.New-arrivals, .New-arrivals-title
{clear:both;}
.layout-type-2 .widget .promotion-plan
{
  margin-left: 2.1%;
}

.vTitle
{
   background: none repeat scroll 0 0 #AAC02D !important;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
  position: relative;
}
.custom-rich
{
 background:transparent;
 border:0px solid;
}
.powered-by
{
    background-color: transparent;
    height: 46px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
.copyright 
{
 color: #000;
 padding-top: 11px;
}
.footer-container, .footer-container .container
{
 background:transparent;
  border-radius: 0px;
  padding: 0px;
}
.footer-custom-background 
{
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.footer-custom-background #es_formLinks a
{
 background: none repeat scroll 0 0 #CCCCCC;
 border: 1px solid #000000;
 color: #000000 !important;
}
.search-icon-on-input
{
 background-position: 50% 50% !important;
 background-repeat: no-repeat !important;
 padding: 16px;
}
.welcome-header-text
{
 font-weight:bold;
}
.welcome-header-text
{
 font-weight:bold;
 color:#780000;
 font-size: 13px;
}
.link-top
{
  color:white!important;
  font-size: 13px;
  text-decoration: none !important;
  display: table-cell;
  padding-right: 10px;
}
.col-sm-3 
{
  width: 26.1%;
}
.col-sm-6-fix-width
{
  width:73.1%!important;
}
.navbar-right
{display:none;}
.menu-item-hover
{
 color:#fa8f3f!important;
  background:#ddd!important;
}
.listing-box, .listing-box1, .listing-box2, .listing-box3
{
  background: rgb(237,237,237);
  background: -moz-linear-gradient(top, white  0%, #ccc 100%)!important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white ), color-stop(100%,#ccc))!important;
  background: -webkit-linear-gradient(top, white  0%,#ccc 100%)!important;
  background: -o-linear-gradient(top, white  0%,#ccc 100%)!important;
  background: -ms-linear-gradient(top, white  0%,#ccc 100%)!important;
  background: linear-gradient(to bottom,white  0%,#ccc 100%)!important;
  min-height: 284px;
}
.details-inner span.bin 
{
 background:#FFFFFF;
 color: #000000;
}
.navbar-header:hover
{
 opacity:0.8;
}
/*new styles*/
.background-main
{
   background-color:#f3f3f3;
   background-repeat: repeat;
}

.input-group {
   padding-top: 5px;
}
.navbar-form
{
 margin-bottom: -7px;
 padding-right: 0px;
 color: #FFFFFF;
}
.shopping-icon-link 
{
  display: block;
  height: 100%;
  width: 100%;
}
.vertical .parent ul li
{
 border:0px solid !important;
margin-left:5px;
}
.vertical .parent ul li a
{
 border-bottom:1px dotted #555555 !important;
  padding-left:0px;
  
}
.vertical .parent
{
 display:block;
}
.vertical .parent ul
{
   border: 0 solid !important;
    display: block;
    left: 12%;
    position: relative;
    width: 90%;
  list-style: circle outside none !important;
}
.vertical .parent ul li a:last-child
{border:0px!important;}
.form-control:focus
{
 border-color:#ccc;
}
.home-icon {
    background: url("../images/templates/handelsagentur/icon-home.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    margin-top: -5px;
    width: 29px;
}
.vertical.blue li, .vertical.blue li a
{
 border-radius: 0px;
    height: auto;
    padding-bottom: 3px;
}

.vertical.blue li
{
  border-bottom:1px solid #F4F4F4 !important;
  background: transparent!important;
}
.vertical.blue li a
{
  color: #666666 !important;
  font-size: 122%;
  line-height: 27px;
  padding-left: 8px;
  padding-right: 20px;
  text-decoration: none;
}
.vertical.blue li a:hover
{
 color:#aac02d!important;
}
ul.vertical, div.Store-categories 
{
  background:white;
   border: 0 solid;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
}
#es_footer
{
  position: relative;
}
#es_formLinks
{
 position: absolute;
  right:0px;
}
#es_topLinksContainer .phone-number
{
  float: left;
  margin-top: 3px;
  margin-left: 13px;
}
.phone-icono
{
  background: url("../images/templates/handelsagentur/phone.PNG") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  display: inline-block;
  height: 20px;
  width: 12px;
}
.store-phone
{
 font-size: 25px;
}
.welcome-header-container
{
 float:right;
 margin-right: 10px;
 margin-top: 12px;
}
.line-decorative
{
 background: url("../images/templates/handelsagentur/line-decorative.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);
    height: 5px;
    width: 100%;
}
#nkw
{border-right:0px solid;height: 34px;}
.button-search
{border-left: 0 solid;}
.button-search, #nkw
{
 border-radius: 0px !important;
}
.top-banner-services
{
   float: right;
    margin-top: 26px;
    position: relative;
    width: 100%;
}
.top-banner-services img
{
 width: 100%
}
.rows-header-container
{
 float:right;
  width:80%;
  height:auto;
}
.row-header
{clear:both;}
.top-header-links
{
 float:left;
}
.top-header-search-form
{
 float:right;
}

.rockscripts-links-information a, .rockscripts-links-information {
    color: #999999!important;
    font-size: 12px;
  line-height: 48px;
  text-decoration:none!important;
}
.rockscripts-links-information a:hover
{
 color:#aac02d!important;
}
.rockscripts-categories-links
{
  border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #555555;
    margin-top: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#es_footer,.hide
{display:none!important;}

.rockscripts-footer-top-bar 
{
    background-color: #B2C957;
    clear: both;
    color: #FFFFFF;
    font-size: 14px;
    height: 44px;
    line-height: 41px;
}
.rockscripts-footer-right-title {
    background: none repeat scroll 0 0 #BBD25F;
    font-weight: bold;
    padding-left: 20px;
    text-transform: uppercase;
    width: 291px;
}
.rockscripts-right {
    float: right;
}
.rockscripts-left
{float: left;}

.rockscripts-footer-right-title .caret {
    border-top: 4px solid #AAC555;
    margin-left: -93px;
    margin-top: 44px;
    position: absolute;
}
.caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.rockscripts-logo-footer {
    border: 1px solid #444444;
    margin-left: 38px;
    margin-top: 40px;
}
.logo {
    width: 140px;
}
.rockscripts-links-footer {
    margin-top: 27px;
}

.rockscripts-links-footer .block {
    float: left;
    margin-left: 38px;
}
.block {
    margin-bottom: 20px;
}
.rockscripts-main-content {
    font-family: 'Lato',sans-serif !important;
    font-size: 12px;
}

.bullet, .widget-items, .tree, .block ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.rockscripts-return-widget {
    background: none repeat scroll 0 0 #000000;
    color: #CCCCCC;
    float: right;
    font-size: 12px;
    height: 100%;
    padding: 27px 0 0 20px;
    width: 237px;
}
.rockscripts-footer-elements
{display:block;}
.rockscripts-logo-footer .logo1
{
 width: 140px;
}
.container {
    max-width: 1022px!important;
}

.rockscripts-footer-elements .block ul li a {
    color: #999999;
    font-size: 12px;
    line-height: 30px;
    padding: 0;
}
.rockscripts-footer-elements .block ul li a:hover
{
 color:#BBD25F!important;;
  text-decoration:none!important;
}
.title_block {
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-custom-background .container 
{
    background:#000000 !important;
}
.rockscripts-return-widget a
{
 color:#CCCCCC!important;
  text-decoration:none!important;
}

.rockscripts-return-widget ul
{ list-style: none outside none;
    padding-left: 0;
}
.icon-phone {
    background: url("http://dev.99spaces.com/ebay/new_template/images/icon-footer.png") no-repeat scroll center -25px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin: 0 8px 0 0;
    vertical-align: middle;
    width: 12px;
}

.icon-email {
    background: url("http://dev.99spaces.com/ebay/new_template/images/icon-footer.png") no-repeat scroll center -52px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 16px;
    margin: 0 10px 0 0;
    vertical-align: middle;
    width: 12px;
}
.vertical li.parent > a {
    background-image: none;
}
.vTitle .caret
{
  border-top: 4px solid #AAC02D;
    bottom: -34px;
    left: 50%;
    margin-left: -4px;
    padding: 0 0 20px;
    position: absolute;
}