li.listing-description {
    background-image: url("../img/icon-description.png");
}
li.advertising {
    background-image: url("../img/icon-advertising.png");
}
li.popular-categories{
    background-image: url("../img/icon-popular-categories.png");
}
li.featured-listing{
    background-image: url("../img/featured_-icon.png");
}
.navigation-options #of-nav li.current{
    background-color: #006DCC;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}