/*add your store front styles here*/
.background-main {
    background-size: 72% auto;
}
#es_topLinks li b
{
 color:black;
}
.details-inner .label
{color:black}
#es_topLinksContainer
{
background: rgb(237,237,237);
background: -moz-linear-gradient(top, #FFF0DB 0%, #e7f8ff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF0DB), color-stop(100%,#e7f8ff));
background: -webkit-linear-gradient(top, #FFF0DB 0%,#e7f8ff 100%);
background: -o-linear-gradient(top, #FFF0DB 0%,#e7f8ff 100%);
background: -ms-linear-gradient(top, #FFF0DB 0%,#e7f8ff 100%);
background: linear-gradient(to bottom,#FFF0DB 0%,#e7f8ff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
}

.navbar-inverse .navbar-brand {
    color: #555;

}
.navbar-inverse {
    background-color: #F8AD1E;
}
.powered_link
{
 color:white!important;
}
#es_formLinks a 
{
  color:#555;
}
.nav > li {
    border-top: 0px solid #FFFFFF!important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #555;
  font-size: 15px;
}
.vTitle 
{
  background: #f8ad1e!important;
  color:#555;
}
.listing-box {
    margin: 8px 8px 8px 10px;
    max-height: 285px;
    min-height: 285px;
    width: 30%;
}
.logo
{top: 6%;}
body .powered_link {
    color: black !important;
}
.powered_link1, .powered_link1:visited, .powered_link1:link, .powered_link1:active, .powered_link1:hover {
    color: white;
}