.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.fileupload-buttonbar {
	margin-bottom: 10px;
}
.files {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.files li {
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	width: 80px;
	height: 80px;
	background: #ECECEC;
}
.files li .preview {
	display: block;
	height: 80px;
}
.template-upload .preview {
	background: url('../img/upload.png') no-repeat center;
}
.files li .actions {
	position: absolute;
	margin-top: -22px;
	width: 80px;
	height: 22px;
	background: rgba(0, 0, 0, 0.52);
	padding-top: 1px;
	display: none;
	text-align: center;
	font-size: 13px;
}
.files li:hover > .actions {
	display: block;
}
.files .actions i {
	color: #fff !important;
	cursor: pointer;
	opacity: 0.8;
}
.files .actions i:hover {
	opacity: 1;
}
.files img {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.files .progress {
	position: relative;
	margin: -20px 3px 0 3px;
	height: 14px;
}
.files .label {
	display: inline-block;
	margin: 30px 0 0 20px;
}
.files .description {
	display: none;
}
#crop img {
	max-width: 536px;
	max-height: 402px;
}
#webcamModal .modal-dialog {
	transform: none !important;
}
#cropModal .loading , #webcamModal .loading{
	background: url('../img/ajax-loader.gif');
	height: 11px;
	width: 16px;
	display: none;
	margin-right: 10px;
}
#webcamModal .save,
#webcamModal .new {
	display: none;
}
.alert.upload-max {
	padding: 7px 10px;
	display: none;
}
.files .filetype {

}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}
.imgareaselect-border1 {
	border: solid 1px #000;
}

.imgareaselect-border2 {
	border: dashed 1px #fff;
}
.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
	#uploadModal .modal-dialog {
		 width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
#uploadModal .modal-body {
	padding-right: 10px;
}

.fileupload-processing .loading-files {
	background: url('../img/ajax-loader.gif') center no-repeat;
	height: 15px;
	margin-top: -15px;
}

.filetype {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	display: inline-block;
	margin: 16px 0 0 16px;
	background-image: url('../img/icons/_blank.png'); 
}
.filetype._blank{background-image: url('../img/icons/_blank.png');}.filetype._page{background-image: url('../img/icons/_page.png');}.filetype.aac{background-image: url('../img/icons/aac.png');}.filetype.ai{background-image: url('../img/icons/ai.png');}.filetype.aiff{background-image: url('../img/icons/aiff.png');}.filetype.avi{background-image: url('../img/icons/avi.png');}.filetype.bmp{background-image: url('../img/icons/bmp.png');}.filetype.c{background-image: url('../img/icons/c.png');}.filetype.cpp{background-image: url('../img/icons/cpp.png');}.filetype.css{background-image: url('../img/icons/css.png');}.filetype.dat{background-image: url('../img/icons/dat.png');}.filetype.dmg{background-image: url('../img/icons/dmg.png');}.filetype.doc{background-image: url('../img/icons/doc.png');}.filetype.dotx{background-image: url('../img/icons/dotx.png');}.filetype.dwg{background-image: url('../img/icons/dwg.png');}.filetype.dxf{background-image: url('../img/icons/dxf.png');}.filetype.eps{background-image: url('../img/icons/eps.png');}.filetype.exe{background-image: url('../img/icons/exe.png');}.filetype.flv{background-image: url('../img/icons/flv.png');}.filetype.gif{background-image: url('../img/icons/gif.png');}.filetype.h{background-image: url('../img/icons/h.png');}.filetype.hpp{background-image: url('../img/icons/hpp.png');}.filetype.html{background-image: url('../img/icons/html.png');}.filetype.ics{background-image: url('../img/icons/ics.png');}.filetype.iso{background-image: url('../img/icons/iso.png');}.filetype.java{background-image: url('../img/icons/java.png');}.filetype.jpg{background-image: url('../img/icons/jpg.png');}.filetype.key{background-image: url('../img/icons/key.png');}.filetype.mid{background-image: url('../img/icons/mid.png');}.filetype.mp3{background-image: url('../img/icons/mp3.png');}.filetype.mp4{background-image: url('../img/icons/mp4.png');}.filetype.mpg{background-image: url('../img/icons/mpg.png');}.filetype.odf{background-image: url('../img/icons/odf.png');}.filetype.ods{background-image: url('../img/icons/ods.png');}.filetype.odt{background-image: url('../img/icons/odt.png');}.filetype.otp{background-image: url('../img/icons/otp.png');}.filetype.ots{background-image: url('../img/icons/ots.png');}.filetype.ott{background-image: url('../img/icons/ott.png');}.filetype.pdf{background-image: url('../img/icons/pdf.png');}.filetype.php{background-image: url('../img/icons/php.png');}.filetype.png{background-image: url('../img/icons/png.png');}.filetype.ppt{background-image: url('../img/icons/ppt.png');}.filetype.psd{background-image: url('../img/icons/psd.png');}.filetype.py{background-image: url('../img/icons/py.png');}.filetype.qt{background-image: url('../img/icons/qt.png');}.filetype.rar{background-image: url('../img/icons/rar.png');}.filetype.rb{background-image: url('../img/icons/rb.png');}.filetype.rtf{background-image: url('../img/icons/rtf.png');}.filetype.sql{background-image: url('../img/icons/sql.png');}.filetype.tga{background-image: url('../img/icons/tga.png');}.filetype.tgz{background-image: url('../img/icons/tgz.png');}.filetype.tiff{background-image: url('../img/icons/tiff.png');}.filetype.txt{background-image: url('../img/icons/txt.png');}.filetype.wav{background-image: url('../img/icons/wav.png');}.filetype.xls{background-image: url('../img/icons/xls.png');}.filetype.xlsx{background-image: url('../img/icons/xlsx.png');}.filetype.xml{background-image: url('../img/icons/xml.png');}.filetype.yml{background-image: url('../img/icons/yml.png');}.filetype.zip{background-image: url('../img/icons/zip.png');}